.articlesByTopic {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.articlesListByTopic {
    color: white;
    border: solid 2px #060663;
    border-radius: 15px;
    transition: 1s;
    width: 50%;
    height: 45%;
    margin: 0 auto;
    padding: 1rem;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.articlesByTopic b {
    color: red;
    text-decoration: none;
}

.articlesByTopic a {
    color: #060663;
    text-decoration: none;
}

.title {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif!important;
    color: #060663;
    font-size: 2rem;
}