.articlesUL {
    margin: 0;
    padding: 0;
    height: 68vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    list-style: none;
}

.articleItem {
    color: white;
    border: solid 2px #060663;
    border-radius: 15px;
    transition: 1s;
    width: 60%;
    height: 50%;
    margin: 0 auto;
    padding: 1rem;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.articleItem:hover {
    transform: scale(0.9);
}

.articleItem a {
    color: black;
    text-decoration: none;
}

.articleItem b {
    color: red;
    text-decoration: none;
}

.addArticleText {
    text-decoration: none;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif!important;
    font-size: 1rem;
}

.filterLabel {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif!important;
}

.atitle {
    color: #060663;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif!important;
    font-size: 2rem;
}

#root>div>div>div:nth-child(4)>div>div>form {
    padding: 1rem;
}

h3 {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif!important;
    color: red;
    font-size: 2rem;
    font-style: normal;
}

@media(max-width: 900px) {
    .articleItem {
        width: 80%;
        height: 30%;
        margin: 1rem;
    }
    .atitle {
        font-size: 1rem;
    }
}