.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #060663;
}

.left h1 {
  font-size: 4.5rem;
  color: white;
  font-family: Perpetua Titling MT;
}

.right {
  padding: 1rem;
  color: white;
}

@media(max-width: 900px) {
  .header {
    display: flex;
    flex-direction: column;
  }
  .left h1 {
    font-size: 3rem;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
  }
}