.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #060663;
  border-top: solid 4px red;
}

.logo {
  width: 2.3rem;
  height: 2.3rem;
  padding-right: 1rem;
}

.left h1 {
  padding-top: 1rem;
  font-size: 3rem;
  color: white;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif!important;
}

.right {
  padding-right: 1rem;
  color: white;
}

.left {}

@media(max-width: 900px) {
  .header {
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  .left h1 {
    font-size: 3rem;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
  }
}