

.Home h1 {
    font-style: italic;
    font-size: 1.5rem;
}

.item {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.listItem {
    width: 40%;
    border-radius: 15px;
    transition: 1s;
    padding: 1rem;
    list-style: none;
    margin: 1rem;


}

.listItem:hover{
  transform: scale(0.9);
  background-color: rgba(103, 146, 135, 0.507);
  }

  
  @media(max-width: 900px) {
    .listItem{
        width: 100%;
        margin: 0;
    }
    .Home h1 {
        font-style: italic;
        font-size: 2rem;
    }
}