.login {
    margin: 3rem;
    height: 70vh;
    background-color: rgba(2, 90, 204, 0.336);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input {
    width: 40rem;
}

h1 {
    font-size: 3rem;
    color: black;
    font-family: medium-content-serif-font, Georgia, Cambria, "Times New Roman", Times, serif;
}

.button {
    width: 4rem;
    height: 2rem;
}

@media(max-width: 900px) {
    h1 {
        font-size: 130%;
        color: white;
    }
}