.popularArticles {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.popularItem {
    width: 100%;
    border: 1px solid black;
    border-radius: 15px;
    padding: 1rem;
    background-color: rgba(25, 209, 148, 0.527);
    margin: 1rem;
    list-style: none;
    transition: 1s;
}

.articlesList {
    font-family: medium-content-serif-font, Georgia, Cambria, "Times New Roman", Times, serif;
    border: 2px solid #060663;
    background-color: white;
    transition: 1s;
}

.articlesList:hover {
    transform: scale(0.9);
}

.articlesList p {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif!important;
    font-style: normal;
    color: #060663;
}

.articlesList b {
    text-decoration: none;
    color: rgba(255, 0, 0, 0.651);
}