.recentArticles {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.articlesList {
    width: 100%;
    border: 1px solid black;
    border-radius: 15px;
    padding: 1rem;
    background-color: rgba(25, 209, 148, 0.527);
    margin: 1rem;
    list-style: none;
}

.title {
    font-size: 2rem;
    font-family: medium-content-serif-font, Georgia, Cambria, "Times New Roman", Times, serif;
    font-style: italic;
}

@media(max-width: 900px) {
    .title {
        font-size: 1rem;
        font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
        font-style: italic;
    }
}