.thumb {
    height: auto;
    width: 3em;
    text-decoration: none;
}

.buttonThumb {
    text-decoration: none;
    border: none;
    border: none !important;
    background: transparent !important;
    padding: 1rem;
}