.users {
    margin: 0;
    padding-top: 2rem;
    height: 68vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.usersList {
    height: 40%;
    width: 25%;
    border: solid 1px black;
    border-radius: 15px;
    transition: 1s;
    padding: 2rem;
    display: flex;
    list-style: none;
    align-items: center;
flex-direction: column;
    margin: 1rem;

}

.usersList:hover{
  transform: scale(0.9);
  background-color: rgba(103, 146, 135, 0.507);
  }

 p {
      margin-top: 1rem;
  }

  @media(max-width: 900px) {
    .usersList {
        height: 30%;
        width: 40%;
        border: solid 1px black;
        border-radius: 15px;
        transition: 1s;
        padding: 2rem;
        list-style: none;
    }    
    .usersList p {
        font-size: 50%;
    }    

}