* {
  margin: 0;
  padding: 0;
}

.App {
  background-color: white;
  height: 100%;
  border: solid 1px rgb(3, 143, 108);
  margin: 1rem;
  
}
.inner {
  padding-left: 3rem;
}



.articles {
  border:solid 1px rgb(3, 143, 108);
margin: 2rem;
}